:root{
    --blue:#411db6;
    --white:#eee;
}
*{ 
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 50px;
    
}
a{
    text-decoration: none;
}
*{
    margin: 0;
}
  .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: #411db6;
    z-index: 0;
    transform: skewY(11deg);
    transform-origin: top right;
}
.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    }
.header a {
    text-decoration:none;
}
.logo a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color:white;
}
.logo a span{
    color:var(--white)
}
.logo a:hover ,.navbar a:hover {
    color: var(--white);
}
.navbar a {
    color:var(--white);
    padding: 0 25px;
    
}
.profile{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--white);
    padding: 2px;
}
.profile-menu{
    background-color: var(--white);
    padding: 0px;
    width: 150px;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    right: 180px;
    display: none;
}

ul li {
    list-style: none;
    margin: 10px;
    border: var(--blue) 1px solid;
    border-radius: 20px;
}
ul li:hover{
    background-color: var(--blue);
    a{
        color: var(--white);
    }
}
ul li a{
    text-decoration: none;
    color: var(--blue);
    padding: 10px;

}
.home{
    margin: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: var(--white);
    padding: 5px;
}
.me{
    margin: 10px;
    margin-top: 40px;
}
.box{
    display: flex;
    align-items: center;
    gap: 40px;
}
.me .box a{
    display: block;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    height: 20px;
    width: 150px;
    padding: 10px;
    padding-bottom: 25px;
    padding-top: 0;
    background:#411db6;
    color: var(--white);
    border-radius: 20px;
}
.freelance{
    display:flex;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}
.freelance .point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}
.about{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.right{
    width: 50%;
}
.right p{
    line-height: 30px;
    margin-bottom: 10px;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 45%;
    flex-wrap: wrap;
    
}
.left .box {
    width: 200px;
    height: 120px;
    background: #e3e1e1;
    margin: 10px;
}
.left .box .info{
   background: var(--blue);
   height: 80px;
   width: 180px;
   
}
.left .box .info h3{
    color: var(--white);
}
  .top{
    position: relative;
    top: -300px;
    right: -200px;
    display: flex;
  }
  .top img{
    width: 200px;
  }
.icons{
    display: flex;
    align-items: center;
}
#projects {
    margin: 10px;
}
/*card */

.slide-container{
    margin-top: 60px 0;
    margin-bottom: 100px;
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: var(--blue);
    width: 400px;
    
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -35px;
    height: 35px;
    width: 35px;
    border-radius: 0 0px 0 45px;
    background-color: #FFF;
    border: none;
  }
  .overlay::after{
    border-radius: 0 25px 0 0px;
    background-color: var(--blue);
    
  }
  .card-image{
    position: relative;
    max-height: 200px;
    max-width: 300px;
    
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
  }

  .name{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
  .description{
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: var(--blue);
    padding: 8px 16px;
    background-color: var(--white);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background:var(--white);
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  .certificates{
    margin: 20px 0;
  }
 .title{
    padding: 20px;
   margin-bottom: 20px;
  }
.title h1{
    text-align: center;
    padding: 10px;
  }
.certificates .content {
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    background: #e3e1e198;
    border-radius: 50px 0 50px 0;
    border: 5px solid transparent;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 1;
    overflow: hidden;
    border: #411db6 2px solid;
}
  .certificates .content .img-content h3{
    color: var(--blue);
    margin-bottom: 10px;
  }
.certificates .content .img-content img {
    width:400px;
}
  .certificates .content .content-details{
    padding: 20px;
    margin-top:40px ;
  }
  .certificates .content .content-details .profile-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
  }
  .certificate-details {
    margin:20px;
  }
  .div1{
    margin-left: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .div1 h1{
    color: var(--blue);
  }
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
#contact{
    background: var(--blue);
    display:flex;
    align-items: center;
    justify-content: center;
}
/*media query */
  @media screen and (max-width: 1150px) {
    .left{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 75%;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 850px) {
    .navbar{
        display: none;
    }
    .logo{
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .profile:hover .profile-menu {
        display: block;
    }
    .about{
        width: 100%;
        margin: 40px auto;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    .left .box {
        width: 300px;
        height: 140px;
        background: #e3e1e1;
        margin: 10px;
    }
    .left .box .info{
       background: var(--blue);
       height: 100px;
       width: 250px;
       
    }
    .home{
        margin-top: 220px;
        
    }
    .photo{
        width: 260px;
        height: 260px;
        border-radius: 50%;
        background: var(--white);
        padding: 5px;
    }
    .photo img{
        width: 250px;
    }
}
@media screen and (max-width: 517px) {
    .certificates h3{
        font-size:14px;
    }
    .certificates .content .img-content img {
        width:300px;
    }
    .certificate-details {
    margin: 20px 10px;
      }
}
.animate-charcter {
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #411db6 0%,
      #563fc0 25%,
      #6a63ca 50%,
      #7f87d4 75%,
      #eee 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 60px;
    
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
